<% content_for :header do %>
    <h1>Promociones</h1>
<%end%>

<% content_for :content do %>
    <div class="box-body">
      <table class="table">
        <thead>
        <tr>
          <th>SKU</th>
          <th>Precio</th>
          <th>Fecha inicio</th>
          <th>Fecha término</th>
          <th>Código</th>
          <th>Fecha creación</th>
          <th>ID</th>
        </tr>
        </thead>
        <tbody>
          <% @promociones.each do |promocion|%>
          <tr>
              <td><%= promocion.sku %></td>
              <td>$<%= promocion.precio %></td>
              <td><%= promocion.fechaInicio %></td>
              <td><%= promocion.fechaTermino %></td>
              <td><%= promocion.codigo %></td>
              <td><%= promocion.created_at %></td>
              <td><%= promocion.id %></td>
          </tr>
          <% end %>
        
        </tbody>
      </table>
    </div>
<% end %>