<% content_for :header do %>
    <h1>Business Intelligence: Financieros </h1>
<%end%>

<% content_for :content do %>
    <div class="row">
      <div class="box col-md-10 col-md-offset-1">
        <div class="box-header with-border">
          <h3 class="box-title">Saldo diario</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>
        <div class="box-body col-md-12">
          <canvas id="lineChart" style="height:250px"></canvas>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
      <div class="box col-md-6">
        <div class="box-header with-border">
          <h3 class="box-title">Facturación diaria (num)</h3>

          <div class="box-tools pull-right">
            <select class="form-control" id="tipoFactura">
              <option id="enviadas">Emitidas</option>
              <option id="recibidas">Recibidas</option>
            </select>
          </div>
        </div>
        <div class="box-body col-md-12">
          <canvas id="barChart" style="height:250px"></canvas>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
      <div class="box col-md-6">
        <div class="box-header with-border">
          <h3 class="box-title">Facturación diaria ($)</h3>
          <div class="box-tools pull-right">
            <select class="form-control" id="tipoFactura2">
              <option id="enviadas">Emitidas</option>
              <option id="recibidas">Recibidas</option>
            </select>
          </div>
        </div>
        <div class="box-body col-md-12">
          <canvas id="barChart2" style="height:250px"></canvas>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>

    <script type="text/javascript">
      var lineChart;
      var lineChartCanvas = document.getElementById("lineChart");
      var barChart;
      var dataB; //num emitidas
      var dataBr; //num recibidas
      var barChart2;
      var dataB2; //monto emitidas
      var dataB2r; //monto recibidas

      $(function () {
        var data = {
          labels: [
            "<%= 6.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 5.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 4.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 3.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 2.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 1.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 0.days.ago.strftime("%d-%m-%Y") %>"
          ],
          datasets: [
            {
              label: "saldo en $CLP",
              data: [
                <%= @saldos.find_by(fecha: 6.days.ago.beginning_of_day..6.days.ago.end_of_day).cantidad unless @saldos.find_by(fecha: 6.days.ago.beginning_of_day..6.days.ago.end_of_day).nil? %>,
                <%= @saldos.find_by(fecha: 5.days.ago.beginning_of_day..5.days.ago.end_of_day).cantidad unless @saldos.find_by(fecha: 5.days.ago.beginning_of_day..5.days.ago.end_of_day).nil?%>,
                <%= @saldos.find_by(fecha: 4.days.ago.beginning_of_day..4.days.ago.end_of_day).cantidad unless @saldos.find_by(fecha: 4.days.ago.beginning_of_day..4.days.ago.end_of_day).nil? %>,
                <%= @saldos.find_by(fecha: 3.days.ago.beginning_of_day..3.days.ago.end_of_day).cantidad unless @saldos.find_by(fecha: 3.days.ago.beginning_of_day..3.days.ago.end_of_day).nil?  %>,
                <%= @saldos.find_by(fecha: 2.days.ago.beginning_of_day..2.days.ago.end_of_day).cantidad unless @saldos.find_by(fecha: 2.days.ago.beginning_of_day..2.days.ago.end_of_day).nil? %>,
                <%= @saldos.find_by(fecha: 1.days.ago.beginning_of_day..1.days.ago.end_of_day).cantidad unless @saldos.find_by(fecha: 1.days.ago.beginning_of_day..1.days.ago.end_of_day).nil? %>,
                <%= @saldos.find_by(fecha: 0.days.ago.beginning_of_day..0.days.ago.end_of_day).cantidad unless @saldos.find_by(fecha: 0.days.ago.beginning_of_day..0.days.ago.end_of_day).nil? %>,
              ],
              backgroundColor: "#6CDC77",
              hoverBackgroundColor: "#6CDC77",
              hoverBorderColor: "#6CDC77"

            }
          ]
        };
        lineChart = new Chart(lineChartCanvas, {
          type: 'line',
          data: data
        });

        var barChartCanvas = document.getElementById("barChart");


        dataB = {
          labels: [
            "<%= 6.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 5.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 4.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 3.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 2.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 1.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 0.days.ago.strftime("%d-%m-%Y") %>"
          ],
          datasets: [
            {
              label: "FTP",
              data: [
                <%= @facturasFTP.where(created_at: 6.days.ago.beginning_of_day..6.days.ago.end_of_day).count %>,
                <%= @facturasFTP.where(created_at: 5.days.ago.beginning_of_day..5.days.ago.end_of_day).count %>,
                <%= @facturasFTP.where(created_at: 4.days.ago.beginning_of_day..4.days.ago.end_of_day).count %>,
                <%= @facturasFTP.where(created_at: 3.days.ago.beginning_of_day..3.days.ago.end_of_day).count %>,
                <%= @facturasFTP.where(created_at: 2.days.ago.beginning_of_day..2.days.ago.end_of_day).count %>,
                <%= @facturasFTP.where(created_at: 1.days.ago.beginning_of_day..1.days.ago.end_of_day).count %>,
                <%= @facturasFTP.where(created_at: 0.days.ago.beginning_of_day..0.days.ago.end_of_day).count %>,
              ],
              backgroundColor: "#FF6384",
              hoverBackgroundColor: "#FF6384",
              hoverBorderColor: "#FF6384"

            },
            {
              label: "B2B",
              data: [
                <%= @facturasB2Be.where(created_at: 6.days.ago.beginning_of_day..6.days.ago.end_of_day).count %>,
                <%= @facturasB2Be.where(created_at: 5.days.ago.beginning_of_day..5.days.ago.end_of_day).count %>,
                <%= @facturasB2Be.where(created_at: 4.days.ago.beginning_of_day..4.days.ago.end_of_day).count %>,
                <%= @facturasB2Be.where(created_at: 3.days.ago.beginning_of_day..3.days.ago.end_of_day).count %>,
                <%= @facturasB2Be.where(created_at: 2.days.ago.beginning_of_day..2.days.ago.end_of_day).count %>,
                <%= @facturasB2Be.where(created_at: 1.days.ago.beginning_of_day..1.days.ago.end_of_day).count %>,
                <%= @facturasB2Be.where(created_at: 0.days.ago.beginning_of_day..0.days.ago.end_of_day).count %>,
              ],
              backgroundColor: "#36A2EB",
              hoverBackgroundColor: "#36A2EB",
              hoverBorderColor: "#36A2EB"
            },
            {
              label: "B2C",
              data: [
                <%= @boletas.where(fechaCreacion: 6.days.ago.beginning_of_day..6.days.ago.end_of_day).count %>,
                <%= @boletas.where(fechaCreacion: 5.days.ago.beginning_of_day..5.days.ago.end_of_day).count %>,
                <%= @boletas.where(fechaCreacion: 4.days.ago.beginning_of_day..4.days.ago.end_of_day).count %>,
                <%= @boletas.where(fechaCreacion: 3.days.ago.beginning_of_day..3.days.ago.end_of_day).count %>,
                <%= @boletas.where(fechaCreacion: 2.days.ago.beginning_of_day..2.days.ago.end_of_day).count %>,
                <%= @boletas.where(fechaCreacion: 1.days.ago.beginning_of_day..1.days.ago.end_of_day).count %>,
                <%= @boletas.where(fechaCreacion: 0.days.ago.beginning_of_day..0.days.ago.end_of_day).count %>,
              ],
              backgroundColor: "#FFCE56",
              hoverBackgroundColor: "#FFCE56",
              hoverBorderColor: "#FFCE56"
            }],

        };
        dataBr = {
          labels: [
            "<%= 6.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 5.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 4.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 3.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 2.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 1.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 0.days.ago.strftime("%d-%m-%Y") %>"
          ],
          datasets: [
            {
              label: "FTP",
              data: [
                0,0,0,0,0,0,0
              ]
            },
            {
              label: "B2B",
              data: [
                <%= @facturasB2Br.where(created_at: 6.days.ago.beginning_of_day..6.days.ago.end_of_day).count %>,
                <%= @facturasB2Br.where(created_at: 5.days.ago.beginning_of_day..5.days.ago.end_of_day).count %>,
                <%= @facturasB2Br.where(created_at: 4.days.ago.beginning_of_day..4.days.ago.end_of_day).count %>,
                <%= @facturasB2Br.where(created_at: 3.days.ago.beginning_of_day..3.days.ago.end_of_day).count %>,
                <%= @facturasB2Br.where(created_at: 2.days.ago.beginning_of_day..2.days.ago.end_of_day).count %>,
                <%= @facturasB2Br.where(created_at: 1.days.ago.beginning_of_day..1.days.ago.end_of_day).count %>,
                <%= @facturasB2Br.where(created_at: 0.days.ago.beginning_of_day..0.days.ago.end_of_day).count %>,
              ],
              backgroundColor: "#36A2EB",
              hoverBackgroundColor: "#36A2EB",
              hoverBorderColor: "#36A2EB"
            },
            {
              label: "B2C",
              data: [
                0,0,0,0,0,0,0
              ]
            }],

        };
        barChart = new Chart (barChartCanvas, {
          type: 'bar',
          data: dataB
        });

        var barChartCanvas2 = document.getElementById("barChart2");

        dataB2 = {
          labels: [
            "<%= 6.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 5.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 4.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 3.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 2.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 1.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 0.days.ago.strftime("%d-%m-%Y") %>"
          ],
          datasets: [
            {
              label: "FTP",
              data: [
                <%= @facturasFTP.where(created_at: 6.days.ago.beginning_of_day..6.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @facturasFTP.where(created_at: 5.days.ago.beginning_of_day..5.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @facturasFTP.where(created_at: 4.days.ago.beginning_of_day..4.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @facturasFTP.where(created_at: 3.days.ago.beginning_of_day..3.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @facturasFTP.where(created_at: 2.days.ago.beginning_of_day..2.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @facturasFTP.where(created_at: 1.days.ago.beginning_of_day..1.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @facturasFTP.where(created_at: 0.days.ago.beginning_of_day..0.days.ago.end_of_day).sum(:valorTotal) %>,
              ],
              backgroundColor: "#FF6384",
              hoverBackgroundColor: "#FF6384",
              hoverBorderColor: "#FF6384"

            },
            {
              label: "B2B",
              data: [
                <%= @facturasB2Be.where(created_at: 6.days.ago.beginning_of_day..6.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @facturasB2Be.where(created_at: 5.days.ago.beginning_of_day..5.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @facturasB2Be.where(created_at: 4.days.ago.beginning_of_day..4.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @facturasB2Be.where(created_at: 3.days.ago.beginning_of_day..3.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @facturasB2Be.where(created_at: 2.days.ago.beginning_of_day..2.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @facturasB2Be.where(created_at: 1.days.ago.beginning_of_day..1.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @facturasB2Be.where(created_at: 0.days.ago.beginning_of_day..0.days.ago.end_of_day).sum(:valorTotal) %>,
              ],
              backgroundColor: "#36A2EB",
              hoverBackgroundColor: "#36A2EB",
              hoverBorderColor: "#36A2EB"
            },
            {
              label: "B2C",
              data: [
                <%= @boletas.where(fechaCreacion: 6.days.ago.beginning_of_day..6.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @boletas.where(fechaCreacion: 5.days.ago.beginning_of_day..5.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @boletas.where(fechaCreacion: 4.days.ago.beginning_of_day..4.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @boletas.where(fechaCreacion: 3.days.ago.beginning_of_day..3.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @boletas.where(fechaCreacion: 2.days.ago.beginning_of_day..2.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @boletas.where(fechaCreacion: 1.days.ago.beginning_of_day..1.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @boletas.where(fechaCreacion: 0.days.ago.beginning_of_day..0.days.ago.end_of_day).sum(:valorTotal) %>,
              ],
              backgroundColor: "#FFCE56",
              hoverBackgroundColor: "#FFCE56",
              hoverBorderColor: "#FFCE56"
            }],

        };
        dataB2r = {
          labels: [
            "<%= 6.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 5.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 4.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 3.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 2.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 1.days.ago.strftime("%d-%m-%Y") %>",
            "<%= 0.days.ago.strftime("%d-%m-%Y") %>"
          ],
          datasets: [
            {
              label: "FTP",
              data: [
                0,0,0,0,0,0,0
              ]
            },
            {
              label: "B2B",
              data: [
                <%= @facturasB2Br.where(created_at: 6.days.ago.beginning_of_day..6.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @facturasB2Br.where(created_at: 5.days.ago.beginning_of_day..5.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @facturasB2Br.where(created_at: 4.days.ago.beginning_of_day..4.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @facturasB2Br.where(created_at: 3.days.ago.beginning_of_day..3.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @facturasB2Br.where(created_at: 2.days.ago.beginning_of_day..2.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @facturasB2Br.where(created_at: 1.days.ago.beginning_of_day..1.days.ago.end_of_day).sum(:valorTotal) %>,
                <%= @facturasB2Br.where(created_at: 0.days.ago.beginning_of_day..0.days.ago.end_of_day).sum(:valorTotal) %>,
              ],
              backgroundColor: "#36A2EB",
              hoverBackgroundColor: "#36A2EB",
              hoverBorderColor: "#36A2EB"
            },
            {
              label: "B2C",
              data: [
                0,0,0,0,0,0,0
              ]
            }],

        };

        barChart2 = new Chart (barChartCanvas2, {
          type: 'bar',
          data: dataB2
        });

      });
      $('#tipoFactura').on('change', function() {
        tipo = $(this).val();
        if (tipo == "Emitidas"){
          barChart.config.data = dataB;
          barChart.update();
        }
        else { //Recibidas
          barChart.config.data = dataBr;
          barChart.update();
        }
      });
      $('#tipoFactura2').on('change', function() {
        tipo = $(this).val();
        if (tipo == "Emitidas"){
          barChart2.config.data = dataB2;
          barChart2.update();
        }
        else { //Recibidas
          barChart2.config.data = dataB2r;
          barChart2.update();
        }
      });

      $("#lineChart").click(function(e) {
        var activePoints = lineChart.getElementAtEvent(e);
        var index = activePoints[0]["_index"];
        window.location.href = 'bi_financieros/transacciones/' + activePoints[0]["_chart"]["config"]["data"]["labels"][index];
      });
    </script>
<% end %>