<% content_for :header do %>
    <h1>Business Intelligence: Financieros </h1>
<%end%>

<% content_for :content do %>
    <div class="row">
      <div class="box col-md-12">
        <div class="box-header with-border">
          <h3 class="box-title">Saldo diario</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>
        <div class="box-body col-md-12">
          <canvas id="lineChart" style="height:250px"></canvas>
        </div><!-- /.box-body -->
      </div><!-- /.box -->

      <div class="box col-md-6">
        <div class="box-header with-border">
          <h3 class="box-title">Facturación diaria según origen (num)</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>
        <div class="box-body col-md-12">
          <canvas id="barChart" style="height:250px"></canvas>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
      <div class="box col-md-6">
        <div class="box-header with-border">
          <h3 class="box-title">Facturación diaria según origen ($)</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>
        <div class="box-body col-md-12">
          <canvas id="barChart2" style="height:250px"></canvas>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>

    <script type="text/javascript">
      var lineChart;
      var lineChartCanvas = document.getElementById("lineChart");
      $(function () {
        var data = {
          labels: [
            <% Infosaldo.order(:fecha).last(7).each do |saldo| %>
            "<%= saldo.fecha.strftime("%d-%m-%Y") %>",
            <% end %>

          ],
          datasets: [
            {
              label: "saldo en $CLP",
              data: [
                <% Infosaldo.order(:fecha).last(7).each do |saldo| %>
                  <%= saldo.cantidad %>,
                <% end %>
              ],
              backgroundColor: "#6CDC77",
              hoverBackgroundColor: "#6CDC77",
              hoverBorderColor: "#6CDC77"

            }
          ]
        };
        lineChart = new Chart(lineChartCanvas, {
          type: 'line',
          data: data
        });

        var barChartCanvas = document.getElementById("barChart");

        <% facturas = Factura.all.where('created_at > ?', 7.days.ago) %>
        <% boletas = Bill.all.where('created_at > ?', 7.days.ago) %>
        var dataB = {
          labels: [
            "<%= (Date.today() - 6).strftime("%d-%m-%Y") %>",
            "<%= (Date.today() - 5).strftime("%d-%m-%Y") %>",
            "<%= (Date.today() - 4).strftime("%d-%m-%Y") %>",
            "<%= (Date.today() - 3).strftime("%d-%m-%Y") %>",
            "<%= (Date.today() - 2).strftime("%d-%m-%Y") %>",
            "<%= (Date.today() - 1).strftime("%d-%m-%Y") %>",
            "<%= Date.today().strftime("%d-%m-%Y") %>"
          ],
          datasets: [
            {
              <% facturasFTP = facturas.where(cliente: "internacional") %>
              <% facturasB2B = facturas.where.not(cliente: "internacional") %>

              label: "FTP",
              data: [
                <%= facturasFTP.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 6).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 6).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 6).strftime("%Y")).count %>,
                <%= facturasFTP.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 5).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 5).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 5).strftime("%Y")).count %>,
                <%= facturasFTP.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 4).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 4).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 4).strftime("%Y")).count %>,
                <%= facturasFTP.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 3).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 3).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 3).strftime("%Y")).count %>,
                <%= facturasFTP.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 2).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 2).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 2).strftime("%Y")).count %>,
                <%= facturasFTP.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 1).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 1).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 1).strftime("%Y")).count %>,
                <%= facturasFTP.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()).strftime("%Y")).count %>
              ],
              backgroundColor: "#FF6384",
              hoverBackgroundColor: "#FF6384",
              hoverBorderColor: "#FF6384"

            },
            {
              label: "B2B",
              data: [
                <%= facturasB2B.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 6).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 6).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 6).strftime("%Y")).count %>,
                <%= facturasB2B.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 5).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 5).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 5).strftime("%Y")).count %>,
                <%= facturasB2B.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 4).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 4).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 4).strftime("%Y")).count %>,
                <%= facturasB2B.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 3).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 3).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 3).strftime("%Y")).count %>,
                <%= facturasB2B.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 2).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 2).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 2).strftime("%Y")).count %>,
                <%= facturasB2B.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 1).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 1).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 1).strftime("%Y")).count %>,
                <%= facturasB2B.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()).strftime("%Y")).count %>
              ],
              backgroundColor: "#36A2EB",
              hoverBackgroundColor: "#36A2EB",
              hoverBorderColor: "#36A2EB"
            },
            {
              label: "B2C",
              data: [
                <%= boletas.where("cast(strftime('%d', fechaCreacion) as int) = ?", (Date.today()- 6).strftime("%d")).where("cast(strftime('%m', fechaCreacion) as int) = ?", (Date.today()- 6).strftime("%m")).where("cast(strftime('%Y', fechaCreacion) as int) = ?", (Date.today()- 6).strftime("%Y")).count %>,
                <%= boletas.where("cast(strftime('%d', fechaCreacion) as int) = ?", (Date.today()- 5).strftime("%d")).where("cast(strftime('%m', fechaCreacion) as int) = ?", (Date.today()- 5).strftime("%m")).where("cast(strftime('%Y', fechaCreacion) as int) = ?", (Date.today()- 5).strftime("%Y")).count %>,
                <%= boletas.where("cast(strftime('%d', fechaCreacion) as int) = ?", (Date.today()- 4).strftime("%d")).where("cast(strftime('%m', fechaCreacion) as int) = ?", (Date.today()- 4).strftime("%m")).where("cast(strftime('%Y', fechaCreacion) as int) = ?", (Date.today()- 4).strftime("%Y")).count %>,
                <%= boletas.where("cast(strftime('%d', fechaCreacion) as int) = ?", (Date.today()- 3).strftime("%d")).where("cast(strftime('%m', fechaCreacion) as int) = ?", (Date.today()- 3).strftime("%m")).where("cast(strftime('%Y', fechaCreacion) as int) = ?", (Date.today()- 3).strftime("%Y")).count %>,
                <%= boletas.where("cast(strftime('%d', fechaCreacion) as int) = ?", (Date.today()- 2).strftime("%d")).where("cast(strftime('%m', fechaCreacion) as int) = ?", (Date.today()- 2).strftime("%m")).where("cast(strftime('%Y', fechaCreacion) as int) = ?", (Date.today()- 2).strftime("%Y")).count %>,
                <%= boletas.where("cast(strftime('%d', fechaCreacion) as int) = ?", (Date.today()- 1).strftime("%d")).where("cast(strftime('%m', fechaCreacion) as int) = ?", (Date.today()- 1).strftime("%m")).where("cast(strftime('%Y', fechaCreacion) as int) = ?", (Date.today()- 1).strftime("%Y")).count %>,
                <%= boletas.where("cast(strftime('%d', fechaCreacion) as int) = ?", (Date.today()).strftime("%d")).where("cast(strftime('%m', fechaCreacion) as int) = ?", (Date.today()).strftime("%m")).where("cast(strftime('%Y', fechaCreacion) as int) = ?", (Date.today()).strftime("%Y")).count %>
              ],
              backgroundColor: "#FFCE56",
              hoverBackgroundColor: "#FFCE56",
              hoverBorderColor: "#FFCE56"
            }],

        };

        var barChart = new Chart (barChartCanvas, {
          type: 'bar',
          data: dataB
        });

        var barChartCanvas2 = document.getElementById("barChart2");

        var dataB2 = {
          labels: [
            "<%= (Date.today() - 6).strftime("%d-%m-%Y") %>",
            "<%= (Date.today() - 5).strftime("%d-%m-%Y") %>",
            "<%= (Date.today() - 4).strftime("%d-%m-%Y") %>",
            "<%= (Date.today() - 3).strftime("%d-%m-%Y") %>",
            "<%= (Date.today() - 2).strftime("%d-%m-%Y") %>",
            "<%= (Date.today() - 1).strftime("%d-%m-%Y") %>",
            "<%= Date.today().strftime("%d-%m-%Y") %>"
          ],
          datasets: [
            {
              <% facturasFTP = facturas.where(cliente: "internacional") %>
              <% facturasB2B = facturas.where.not(cliente: "internacional") %>

              label: "FTP",
              data: [
                <%= facturasFTP.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 6).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 6).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 6).strftime("%Y")).sum(:valorTotal) %>,
                <%= facturasFTP.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 5).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 5).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 5).strftime("%Y")).sum(:valorTotal) %>,
                <%= facturasFTP.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 4).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 4).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 4).strftime("%Y")).sum(:valorTotal) %>,
                <%= facturasFTP.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 3).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 3).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 3).strftime("%Y")).sum(:valorTotal) %>,
                <%= facturasFTP.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 2).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 2).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 2).strftime("%Y")).sum(:valorTotal) %>,
                <%= facturasFTP.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 1).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 1).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 1).strftime("%Y")).sum(:valorTotal) %>,
                <%= facturasFTP.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()).strftime("%Y")).sum(:valorTotal) %>
              ],
              backgroundColor: "#FF6384",
              hoverBackgroundColor: "#FF6384",
              hoverBorderColor: "#FF6384"

            },
            {
              label: "B2B",
              data: [
                <%= facturasB2B.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 6).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 6).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 6).strftime("%Y")).sum(:valorTotal) %>,
                <%= facturasB2B.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 5).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 5).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 5).strftime("%Y")).sum(:valorTotal) %>,
                <%= facturasB2B.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 4).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 4).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 4).strftime("%Y")).sum(:valorTotal) %>,
                <%= facturasB2B.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 3).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 3).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 3).strftime("%Y")).sum(:valorTotal) %>,
                <%= facturasB2B.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 2).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 2).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 2).strftime("%Y")).sum(:valorTotal) %>,
                <%= facturasB2B.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()- 1).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()- 1).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()- 1).strftime("%Y")).sum(:valorTotal) %>,
                <%= facturasB2B.where("cast(strftime('%d', created_at) as int) = ?", (Date.today()).strftime("%d")).where("cast(strftime('%m', created_at) as int) = ?", (Date.today()).strftime("%m")).where("cast(strftime('%Y', created_at) as int) = ?", (Date.today()).strftime("%Y")).sum(:valorTotal) %>
              ],
              backgroundColor: "#36A2EB",
              hoverBackgroundColor: "#36A2EB",
              hoverBorderColor: "#36A2EB"
            },
            {
              label: "B2C",
              data: [
                <%= boletas.where("cast(strftime('%d', fechaCreacion) as int) = ?", (Date.today()- 6).strftime("%d")).where("cast(strftime('%m', fechaCreacion) as int) = ?", (Date.today()- 6).strftime("%m")).where("cast(strftime('%Y', fechaCreacion) as int) = ?", (Date.today()- 6).strftime("%Y")).sum(:valorTotal) %>,
                <%= boletas.where("cast(strftime('%d', fechaCreacion) as int) = ?", (Date.today()- 5).strftime("%d")).where("cast(strftime('%m', fechaCreacion) as int) = ?", (Date.today()- 5).strftime("%m")).where("cast(strftime('%Y', fechaCreacion) as int) = ?", (Date.today()- 5).strftime("%Y")).sum(:valorTotal) %>,
                <%= boletas.where("cast(strftime('%d', fechaCreacion) as int) = ?", (Date.today()- 4).strftime("%d")).where("cast(strftime('%m', fechaCreacion) as int) = ?", (Date.today()- 4).strftime("%m")).where("cast(strftime('%Y', fechaCreacion) as int) = ?", (Date.today()- 4).strftime("%Y")).sum(:valorTotal) %>,
                <%= boletas.where("cast(strftime('%d', fechaCreacion) as int) = ?", (Date.today()- 3).strftime("%d")).where("cast(strftime('%m', fechaCreacion) as int) = ?", (Date.today()- 3).strftime("%m")).where("cast(strftime('%Y', fechaCreacion) as int) = ?", (Date.today()- 3).strftime("%Y")).sum(:valorTotal) %>,
                <%= boletas.where("cast(strftime('%d', fechaCreacion) as int) = ?", (Date.today()- 2).strftime("%d")).where("cast(strftime('%m', fechaCreacion) as int) = ?", (Date.today()- 2).strftime("%m")).where("cast(strftime('%Y', fechaCreacion) as int) = ?", (Date.today()- 2).strftime("%Y")).sum(:valorTotal) %>,
                <%= boletas.where("cast(strftime('%d', fechaCreacion) as int) = ?", (Date.today()- 1).strftime("%d")).where("cast(strftime('%m', fechaCreacion) as int) = ?", (Date.today()- 1).strftime("%m")).where("cast(strftime('%Y', fechaCreacion) as int) = ?", (Date.today()- 1).strftime("%Y")).sum(:valorTotal) %>,
                <%= boletas.where("cast(strftime('%d', fechaCreacion) as int) = ?", (Date.today()).strftime("%d")).where("cast(strftime('%m', fechaCreacion) as int) = ?", (Date.today()).strftime("%m")).where("cast(strftime('%Y', fechaCreacion) as int) = ?", (Date.today()).strftime("%Y")).sum(:valorTotal) %>
              ],
              backgroundColor: "#FFCE56",
              hoverBackgroundColor: "#FFCE56",
              hoverBorderColor: "#FFCE56"
            }],

        };


        var barChart2 = new Chart (barChartCanvas2, {
          type: 'bar',
          data: dataB2
        });

      });
      $("#lineChart").click(function(e) {
        var activePoints = lineChart.getElementAtEvent(e);
        var index = activePoints[0]["_index"];
        window.location.href = 'bi_financieros/transacciones/' + activePoints[0]["_chart"]["config"]["data"]["labels"][index];
      });
    </script>
<% end %>