<% content_for :header do %>
    <h1>Social Media Post </h1>
<%end%>

<% content_for :content do %>

    <%= form_for :tweet, url: '/social/publish', method: :post do |f| %>
      <%= f.label "message" %> 
      <%= f.text_field :message %> 
      <%= f.label "media" %>
      <%= f.text_field :media %>
      <%= f.submit "Post" %>
      <% end %>

<%end%>